#blokRegistration{
pointer-events: none;
}

        .navbar{
                background-color: #009B95;
                border-color: none;
                border-radius: none;
                border-radius: 0px;
            }
        .navbar-default .navbar-brand {
                color: #143836;
            }
        .btn {
            background-color: #5CCDC9;
    display: inline-block;
    padding: 6px 22px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.42857143;
    vertical-align: middle;
     border: none; 
     border-radius: 0px; 
}

span{
    display: none;
    color: red;
    }    
.navbar{
    background-color: #009B95;
    border-color: none;
    border-radius: none;
    border-radius: 0px;
    }
.navbar-default .navbar-brand {
    color: #143836;
    }
.btn {
    background-color: #5CCDC9;
    display: inline-block;
    padding: 6px 22px;
/*    margin: 0 10px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 3.0857143;
    vertical-align: middle;
    border: none; 
    border-radius: 0px; 
    }
.list-group-item{
    line-height: 3.02857143;
    }
