/*body{
          background: url(../static/img/imgpsh_fullsize1.jpg);
            background-size: cover;
			background-repeat:no-repeat;
            background-position:center;
        }*/
        
        .navbar{
/*                min-height: 75px;*/
                background-color: #009B95;
                border-color: none;
                border-radius: none;
                border-radius: 0px;
            }
        .navbar-default .navbar-brand {
                color: #143836;
            }
        .btn {
            background-color: #5CCDC9;
    display: inline-block;
    padding: 6px 22px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.42857143;
    /* text-align: center; */
    /* white-space: nowrap; */
    vertical-align: middle;
     border: none; 
     border-radius: 0px; 
}