{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/messstyle.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
    <link rel="stylesheet" href="emojis.css">
      
</head>
<body>
    <nav id="nav" class="navbar" role="navigation">
       <div class="navbar-brand col-lg-8">Test header</div>
      <form class="navbar-form navbar-left  col-lg-4" role="search">
        <div class="form-group"> UserProfile.name
            {{ UserProfile.name }}
        </div>
        <div class="form-group"> UserProfile.sname
            {{ UserProfile.sname }}
        </div>
        {% comment %} <a href="{% url 'start' %}"> {% endcomment %}
        <button type="button" class="btn">go out</button>
         </a>
    </form>
    </nav>

<div class="container">
       
        <div class="row">
            <a href="{% url 'friends' %}"> 
            <div class="col-md-4 col-sm-12 col-xs-12 my-col text-center">
                <img src="img/1.jpg" alt="friends" class="img-responsive" />
            </div>
              </a>
              {% comment %} <a href="{% url 'mcssager' %}"> {% endcomment %}
            <div class="col-md-4 col-sm-12 col-xs-12 my-col text-center">
                <img src="img/2.jpg" alt="mcssager" class="img-responsive" />
            </div>
            {% comment %} </a>{% endcomment %}
             <a href="{% url 'emojis' %}"> 
            <div class="col-md-4 col-sm-12 col-xs-12 my-col text-center">
                <img src="img/3.jpg" alt="emojis" class="img-responsive" />
            </div>
             </a>
             <a href="{% url 'emojis2' %}"> 
            <div class="col-md-4 col-sm-12 col-xs-12 my-col text-center">
                <img src="img/3.jpg" alt="emojis2" class="img-responsive" />
            </div>
             </a>
            
        </div>

        {% block navigation %}
        {% endblock navigation %}
        {% block content %}
        {% endblock content %}
</div>
 
<script src="{% static 'js/messscript.js' %}"></script>
<script src="emojis.js"></script>
</body>
</html>