<style>
       
.i-wrapper{    
}
.image-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: 550px;
    margin: 10px 10px 10px 10px;
    background: #333;
       }
   .btn-upload{
       margin: 10px 10px 10px 10px;
       width: 200px;
       height: 50px;
    } 
    
    .emojis-block{
    width: 380px;
    height: 220px;
    margin: 10px 10px 10px 10px;
    background: #777;
    }
    
    .stikers-block{
    width: 380px;
    height: 220px;
    margin: 10px 10px 10px 10px;
    background: #777;
    }


.test-emoji{  
  text-align:center;
  font-size: 2rem;
  left: 0%;
  width: 100%;
  top: 20%;
}
    </style>
    
    
    <div class="container-fluid">
        <h1>Test header</h1>
        {% block navigation %}
        {% endblock navigation %}
        {% block content %}
        {% endblock content %}
        
        <h1>Select Emoji =)</h1>
        <div class="i-wrapper">
            <div class="image-wrapper">                
                <div class="emojis-block">
                <div class="test-emoji">😊😜😉😉😍😍😍😛😃😭😭😐😍😍😍😉😉😊😊😜😜😜🐍🐍🐢🐲🐲🐲🐷🐑🐣🐔🐲🐲🐲</div>
                </div>
                <button class="btn btn-lg btn-warning btn-upload ">Upload New!!!</button>
                <div class="stikers-block"></div>
                
            </div>
        </div>
        
        
        
    </div>
</body>
