{% extends 'base.html' %}
{% load static %}

        {% block title %}Login{% endblock %}
        {% block content %}


<div class="jumbotron">
	<div class="form-control registation">Registation succesful</div>
	<div class="formsss">
		<h3>Login</h3>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-2 control-label">Username</label>
				<div class="col-10">
					<input type="text" class="form-control" placeholder="Username"> </div>
			</div>
			<div class="form-group">
				<label class="col-2 control-label">Password</label>
				<div class="col-10">
					<input type="password" class="form-control" placeholder="Password"> </div>
			</div>
			<br>
			<div class="form-group">
				<div class="col-offset-2 col-10">
					<a>
						<button type="button" class="btn btn-primary">Login</button>
					</a>
					<a href="{% url 'regester' %}">
						<button type="button" class="btn btn-default">Register</button>
					</a>
				</div>
			</div>
		</form>
	</div>
</div>
        {% endblock %}