<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="../static/css/messstyle.css" rel="stylesheet">
	
</head>
<body>
   <div class="flex">
    <div class="leftBox">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for friends..">

                    <ul id="myUL">
                      <li><a href="#">Аня <span class="badge">2</span></a></li>
                      <li><a href="#">Арина</a></li>

                      <li><a href="#">Боб <span class="badge">1</span></a></li>
                      <li><a href="#">Богдана</a></li>

                      <li><a href="#">Вася <span class="badge">3</span></a></li>
                      <li><a href="#">Вова</a></li>
                      <li><a href="#">Валентина</a></li>
                      <li><a href="#">Мама <span class="badge">333</span></a></li>
                      
                    </ul>
    </div>
    <div id="chatBox" >
       <div id="chatPlace" class="form-control">
        </div>
               <form role="form">
               <textarea id="message" name="messagename" placeholder="Write something.."  value="" class="form-control"></textarea>
                   <input id="send" type="button" value="Send" class="btn btn-success">
                   <button class="btn btn-danger">Emoji Add <span class="glyphicon glyphicon-sunglasses"></span></button></form>
                
                <form role="form"><textarea id="message2" name="messagename" placeholder="Write something.."  value="" class="form-control"></textarea>
                    <input id="send2" type="button" value="Send" class="btn btn-warning">
                    <button class="btn btn-danger">Emoji Add <span class="glyphicon glyphicon-sunglasses"></span></button></form>
    </div>
    </div>
		
	<script src="../static/js/messscript.js"></script>
</body>
</html>