<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>{% block title %}{% endblock title %}</title>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<div class="container-fluid ">
      
    <nav class="navbar navbar-default" role="navigation">
       <div class="navbar-brand col-lg-4">Test header</div>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Password">
        </div>
<!--         <a href="#"> -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalLogin" >
        sing in</button>
<!--        </a>-->
      </form>
        <a href="#" class="navbar-brand">Забули пароль?</a>

</nav>

         <!-- ModalLogin -->

<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLoginTitle">Modal title</h5>
        
      </div>
      <div class="modal-body">
        
		  Ваш логін {{Username}}
		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


      </div>
    </div>
  </div>
</div>
<!--    -->   

<div class="container-fluid ">
<div class="row row-conformity">  
    <div class="col-lg-4"> </div>  
    <div class="jumbotron  col-lg-4 center-block">
        <div class="formsss">
            <h3>Registration</h3>
            <form name="formR" class="form-horizontal" role="form" id="form1">
               
                <div class="form-group">
 <label class="col-2 control-label">Username</label>
 <div class="col-10">
 <input type="text" class="form-control controls" id="userName" name="username"> 
<span>Будь ласка, придумайте і вкажіть Ваш логін</span> 
                        </div>
                </div>
                <div class="form-group">
 <label class="col-2 control-label">First name</label>
 <div class="col-10">
<input type="text" class="form-control" id="firstName" name="first_name">
<span>Будь ласка, вкажіть Ваше ім'я</span> 
                          </div>
                </div>
                <div class="form-group">
<label class="col-2 control-label">Last name</label>
<div class="col-10">
<input type="text" class="form-control" id="lastName" name="last_name">
<span>Будь ласка, вкажіть Ваше прізвище</span> 
                          </div>
                </div>
                <div class="form-group">
<label class="col-2 control-label">Phone</label>
<div class="col-10">
<input type="tel" class="form-control" id="phone" name="phone">
<span>не заповнене значення</span> 
                          </div>
                </div>
                <div class="form-group">
 <label class="col-2 control-label">Password</label>
 <div class="col-10">
 <input type="password" class="form-control" id="password" name="password"> 
<span>Будь ласка, придумайте і введіть пароль</span> 
                        </div>
                </div>
                <div class="form-group">
 <label class="col-2 control-label">Confirm your password
</label>
 <div class="col-10">
 <input type="password" class="form-control" id="password2" name="password2" data-toggle="modal" data-target="#ModalPpassword"> 
<span>Будь ласка, введіть пароль ще раз</span> 
                        </div>
                </div>
                
            <br>
                <div class="form-group">
<!--            <a href="#"> -->
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#ModalRegister">
                              Register</button>
<!--                         </a>-->
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- ModalRegister -->

<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog" aria-labelledby="ModalRegisterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MeodalRegisterTitle">Modal title</h5>
        
      </div>
      <div class="modal-body">
        
		  Ваш логін {{Username}}
		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

    </div>
    
    <script src="../static/js/start.js"></script>
<!--    <script src="../static/js/regester.js"></script>-->
    
</body>
</html>